@tailwind base;
@tailwind components;
@tailwind utilities;

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif !important;
}

input,
button {
  outline: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1220px;
  margin-inline: auto;
}
/*=============== NAV ===============*/

.nav__item {
  border-start-start-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.4s;
}

.nav__item:hover {
  background-color: hsl(230, 6%, 20%);
}
.active {
  background-color: hsl(230, 6%, 20%);
}
.nav__link {
  display: inline-flex;
  border-start-start-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 1rem;
  column-gap: 0.5rem;
  align-items: center;
  padding: 0.75rem 0.5rem;
}
.nav__link i {
  font-size: 1.5rem;
}

.nav__container {
  max-width: 1520px;
  margin-inline: auto;
}

/*=============== SWIPER-SLIDER ===============*/
.home__swiper {
  margin: initial !important;
}
.swiper__article,
.swiper__img {
  width: 220px;
  transition: scale 0.4s;
}
.swiper__article {
  scale: 0.8;
}
/*=============== MUSIC-PLAYER-FOOTER ===============*/

.music__controls i {
  font-size: 2rem;
  cursor: pointer;
  font-weight: 100;
}
.other__options i {
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 100;
}
/* Swiper class */
.swiper-slide-active,
.swiper-slide-duplicate-active {
  scale: 1;
  z-index: 10000;
}
/*PLAYLIST-HEADER*/
.play__list__icon__container {
  /*background: linear-gradient(135deg, #2575fc, #2575fc, #fff);*/
  background: linear-gradient(135deg, #501ef1 0%, #501ef1 50%, #ffffff 100%);
}
.play__list__header__container {
  background: linear-gradient(to bottom, #3d0075, #230052);
}

/*SONG -TABLE*/
.song__table {
  background: linear-gradient(to bottom, #1e1539 0%, #1e1738 50%, #1c1531 100%);
}

/*PLAY-LIST*/

.play__list__container > div::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  /*  background-color: transparent;*/
  background: linear-gradient(to bottom, #1e1539 0%, #1e1738 50%, #1c1531 100%);
}

.play__list__container > div::-webkit-scrollbar-thumb {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsla(230, 16%, 65%);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

/*SONG - ROW */
.song__row:hover {
  background-color: #2f2c39;
}
.song__row:hover > td .song__number {
  display: none;
}
.song__row:hover > td .song__play__icon {
  display: inline-flex;
}

/*LOGIN*/
/*.linear__gradient__container{
  /*background-color: #605b71 !important;
}*/

/*.log__in {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}*/

.log__in {
  transition: opacity 0.4s;
}

.hidden__log {
  opacity: 0;
  pointer-events: none;
}
.show {
  opacity: 1;
  pointer-events: all;
}

@keyframes register-animate-fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes login-animate-fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.register-animate-fadeInUp {
  animation: register-animate-fadeInUp 0.8s ease-out;
}
.login-animate-fadeInUp {
  animation: login-animate-fadeInUp 0.8s ease-out;
}

/*CREATE-ACCOUNT*/
.sign__up {
  transition: opacity 0.4s;
}

.create-account__container input {
  background-color: #3b364c;
  font-size: 1rem;
  border-radius: 6px;
  color: #9ea7b8;
}
.create-account__container input:focus {
  border: 2px solid #6d628c;
}

/*Alert component*/
.alert__component {
  transition: opacity 0.4s, transform 0.4s;
}

/*Volumen*/
.proggres__bar {
  width: calc(75% - 12px);
}

/*RESPONSIVE*/
@media screen and (min-width: 390px) {
  body {
    height: 100vh;
  }
  .root__main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80px 70px;
    gap: 0.6rem;
  }

  /*MusicPlayer*/
  .music-player {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  /*Header*/

  .nav__link {
    display: inline-flex;
    border-start-start-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    font-size: 1rem;
    column-gap: 0.5rem;
    align-items: center;
    padding: 0.75rem 1rem;
  }
  .header {
    height: 70px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

@media screen and (min-width: 1024px) {
  .nav__menu {
    width: initial;
    height: initial;
  }
  .nav__list {
    width: initial;
    height: initial;
  }
  .nav__link {
    display: inline-flex;
    border-start-start-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 1rem;
    column-gap: 0.5rem;
    align-items: center;
    padding: 0.75rem 0.5rem;
  }
}

@media screen and (min-width: 1220px) {
  body {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }
  .root__main {
    width: 100%;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 280px 3fr;
    grid-template-rows: 60px 1fr;
    gap: 0.6rem;
    padding: 8px 0;
    overflow: hidden;
  }

  .header {
    grid-column: 1 / 2;
    grid-row: span 2;
    height: 100%;
  }
  .nav__options {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .swiper__images {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .swiper__article,
  .swiper__img {
    width: 380px !important;
    height: 380px !important;
    transition: scale 0.4s;
    object-fit: cover;
    border-radius: 30px;
    position: relative !important;
  }

  /*  .music-player-footer{
    grid-column: 1/3;
    grid-row: 3/4;
  }*/
}
